{% extends 'base.html.twig' %}

{% block title %}Client : {{ client.customerCode }}
{% endblock %}

{% block body %}
	<div class="block-header">
		<div class="row">
			<div class="col-lg-7 col-md-6 col-sm-12">
				<h2>
					Client : {{ client.socialReason }}
				</h2>
				<ul class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="index.html">
							<i class="zmdi zmdi-home"></i>
							DELCORP ERP</a>
					</li>
					<li class="breadcrumb-item active">
						Clients / {{ client.customerCode }}
					</li>
				</ul>
				<button class="btn btn-primary btn-icon mobile_menu" type="button">
					<i class="zmdi zmdi-sort-amount-desc"></i>
				</button>
			</div>
			<div class="col-lg-5 col-md-6 col-sm-12">
				<button class="btn btn-primary btn-icon float-right right_icon_toggle_btn" type="button">
					<i class="zmdi zmdi-arrow-right"></i>
				</button>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row clearfix">
			<div class="col-lg-12">
				<div class="card">
					<ul class="nav nav-tabs pl-0 pr-0">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="tab" href="#general">Information Générale</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#adressesLivraison">Adresses de Livraison</a>
						</li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="general">
							<div class="col-xl-12 col-lg-12 col-md-12">
								<div class="product details">
									<hr>
									<div class="row clearfix">
										<div class="col-sm-2">
											<div class="form-group">
												<h2 class="card-inside-title">Code Client</h2>
												<input type="text" class="form-control" value="{{ client.customerCode }}" disabled/>
											</div>
										</div>
										<div class="col-sm-5">
											<div class="form-group">
												<h2 class="card-inside-title">Nom d'Appel</h2>
												<input type="text" class="form-control" value="{{ client.callName }}"/>
											</div>
										</div>
										<div class="col-sm-5">
											<div class="form-group">
												<h2 class="card-inside-title">Raison Sociale</h2>
												<input type="text" class="form-control" value="{{ client.socialReason }}"/>
											</div>
										</div>
									</div>
                                    <div class="row clearfix">
										<div class="col-sm-2">
											
										</div>
										<div class="col-sm-5">
											<div class="form-group">
												<h2 class="card-inside-title">Adresse de Facturation</h2>
												<input type="text" class="form-control" value="{{ client.address }}"/>
											</div>
										</div>
										<div class="col-sm-5">
											<div class="form-group">
												<h2 class="card-inside-title">Boîte Postale</h2>
												<input type="text" class="form-control" value="{{ client.postBox }}"/>
											</div>
										</div>
									</div>
                                     <div class="row clearfix">
										<div class="col-sm-2">
											
										</div>
										<div class="col-sm-5">
											<div class="form-group">
												<h2 class="card-inside-title">Code Postal</h2>
												<input type="text" class="form-control" value="{{ client.zipCode }}"/>
											</div>
										</div>
										<div class="col-sm-5">
											<div class="form-group">
												<h2 class="card-inside-title">Ville</h2>
												<input type="text" class="form-control" value="{{ client.city }}"/>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane" id="adressesLivraison">
							<div class="col-xl-9 col-lg-12 col-md-12">
								<div class="product details">
									<hr>
                                    {% for addresses in client.customersAddresses %}
                                        {{ addresses.address }}
                                    {% endfor %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
