{% extends 'base.html.twig' %}

{% block title %}Clients
{% endblock %}

{% block body %}
	<div class="block-header">
		<div class="row">
			<div class="col-lg-7 col-md-6 col-sm-12">
				<h2>
					Liste des Clients
				</h2>
				<ul class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="index.html">
							<i class="zmdi zmdi-home"></i>
							Aero</a>
					</li>
					<li class="breadcrumb-item active">
						Clients
					</li>
				</ul>
				<button class="btn btn-primary btn-icon mobile_menu" type="button">
					<i class="zmdi zmdi-sort-amount-desc"></i>
				</button>
			</div>
			<div class="col-lg-5 col-md-6 col-sm-12">
				<button class="btn btn-primary btn-icon float-right right_icon_toggle_btn" type="button">
					<i class="zmdi zmdi-arrow-right"></i>
				</button>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row clearfix">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="card project_list">
					<div class="table-responsive">
						<table class="table table-hover c_table theme-color">
							<thead>
								<tr>
									<th>Code Client</th>
									<th>Nom Client / Nom d'Appel</th>
									<th>Adresse</th>
									<th>Boîte Postale</th>
									<th>Code Postal</th>
									<th>Ville</th>
									<th>Créé Le</th>
								</tr>
							</thead>
							<tbody>
								{% for client in clients %}
									<tr>
										<td>{{ client.customerCode }}</td>
										<td> {{ client.socialReason }}<br>
											<small>{{ client.callName }}</small>
										</td>
										<td>{{ client.address }}</td>
										<td>{{ client.postBox }}</td>
										<td>{{ client.zipCode }}</td>
										<td>{{ client.city }}</td>
										<td>25/01/2019</td>
										<td>
											<a href="{{ path("client_details", { 'customerCode': client.customerCode }) }}">res</a>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
